header{
    color: white; background-color: blue;
}
.container{
    background-color: lightgray; color: black
}
.paragraph2{
    color:red
}
.highlight{
    color:green
}
.main-content{
    background-color: yellow;
}
.paragraph{
    text-align: center;
}
.anchor{
    text-decoration: none;
}
.heading{
    text-decoration: dashed underline;
}
.bold-text{
    font-weight: bold;
}
#intro{
    font-weight: 300;
}
p{
    font-family: arial, sans-serif
}
.custom-font{
    font-family: 'Times New Roman', serif;
}
#uppercase{
    text-transform: uppercase;
}